<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Home</title>

    <link rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/cover/">

    <link
      href="{{url_for('static',filename='assets/dist/css/bootstrap.min.css')}}"
      rel="stylesheet">
   
    <!-- Header -->
    <link href="{{url_for('static', filename= 'app.css')}}"
      rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Are you Dumb</h3>
          <nav class="nav nav-masthead justify-content-center
            float-md-end">
            <a class="nav-link fw-bold py-1 px-0"
              href="/home">Home</a>
            <a class="nav-link fw-bold py-1 px-0"
              href="{{url_for('stats')}}">{{session['name']}}</a>
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page"
              href="{{url_for('leaderboard')}}">Leaderboard</a>
            <a class="nav-link fw-bold py-1 px-0"
              href="{{url_for('logout')}}">Log Out</a>
          </nav>
        </div>
      </header>

      <main class="px-3">

        <div id="leaderboard">
          <div id="Geography">
            <div class="row">
              <div class="name">Player1</div><div class="score">430</div>
            </div>

            <div class="row">
              <div class="name">Player2</div><div class="score">580</div>
            </div>

            <div class="row">
              <div class="name">Player3</div><div class="score">310</div>
            </div>

            <div class="row">
              <div class="name">Player4</div><div class="score">640</div>
            </div>

            <div class="row">
              <div class="name">Player5</div><div class="score">495</div>
            </div>

          </div>
          <div id="Entertainment">
            <div class="row">
              <div class="name">Player1</div><div class="score">430</div>
            </div>

            <div class="row">
              <div class="name">Player2</div><div class="score">580</div>
            </div>

            <div class="row">
              <div class="name">Player3</div><div class="score">310</div>
            </div>

            <div class="row">
              <div class="name">Player4</div><div class="score">640</div>
            </div>

            <div class="row">
              <div class="name">Player5</div><div class="score">495</div>
            </div>

          </div>
          <div id="History">
            <div class="row">
              <div class="name">Player1</div><div class="score">430</div>
            </div>

            <div class="row">
              <div class="name">Player2</div><div class="score">580</div>
            </div>

            <div class="row">
              <div class="name">Player3</div><div class="score">310</div>
            </div>

            <div class="row">
              <div class="name">Player4</div><div class="score">640</div>
            </div>

            <div class="row">
              <div class="name">Player5</div><div class="score">495</div>
            </div>

          </div>
          <div id="Arts & Literature">
            <div class="row">
              <div class="name">Player1</div><div class="score">430</div>
            </div>

            <div class="row">
              <div class="name">Player2</div><div class="score">580</div>
            </div>

            <div class="row">
              <div class="name">Player3</div><div class="score">310</div>
            </div>

            <div class="row">
              <div class="name">Player4</div><div class="score">640</div>
            </div>

            <div class="row">
              <div class="name">Player5</div><div class="score">495</div>
            </div>

          </div>
          <div id="Science">
            <div class="row">
              <div class="name">Player1</div><div class="score">430</div>
            </div>

            <div class="row">
              <div class="name">Player2</div><div class="score">580</div>
            </div>

            <div class="row">
              <div class="name">Player3</div><div class="score">310</div>
            </div>

            <div class="row">
              <div class="name">Player4</div><div class="score">640</div>
            </div>

            <div class="row">
              <div class="name">Player5</div><div class="score">495</div>
            </div>

          </div>
          <div id="Sports">
            <div class="row">
              <div class="name">Player1</div><div class="score">430</div>
            </div>

            <div class="row">
              <div class="name">Player2</div><div class="score">580</div>
            </div>

            <div class="row">
              <div class="name">Player3</div><div class="score">310</div>
            </div>

            <div class="row">
              <div class="name">Player4</div><div class="score">640</div>
            </div>

            <div class="row">
              <div class="name">Player5</div><div class="score">495</div>
            </div>

          </div>

        </div>
      </main>

      <footer class="mt-auto text-white-50">
        <p>DC2060</p>
      </footer>
    </div>
  </body>
</html>
