<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Leaderboard</title>

    <link rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/cover/">

    <link
      href="{{url_for('static',filename='assets/dist/css/bootstrap.min.css')}}"
      rel="stylesheet">

    <!-- Header -->
    <link href="{{url_for('static', filename= 'app.css')}}"
      rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Are you Dumb</h3>
          <nav class="nav nav-masthead justify-content-center
            float-md-end">
            <a class="nav-link fw-bold py-1 px-0"
              href="/home">Home</a>
            <a class="nav-link fw-bold py-1 px-0"
              href="{{url_for('stats')}}">{{session['name']}}</a>
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page"
              href="{{url_for('leaderboard')}}">Leaderboard</a>
            <a class="nav-link fw-bold py-1 px-0"
              href="{{url_for('logout')}}">Log Out</a>
          </nav>
        </div>
      </header>


      <div id="leaderboard">

        <table>
          <tr>
            <th> Geography </th>
            <th> Entertainment </th>
            <th> History </th>
            <th> Arts & Literature </th>
            <th> Science </th>
            <th> Sports </th>

          </tr>
          <tr class="fst">
            {% for category, ranking in leaderboard.board.items() %}
            <td class= {{category}}> {{ranking[0][0]}}   {{ranking[0][1]}} </td>
            {% endfor %}
          </tr>
          <tr class="snd">
            {% for category, ranking in leaderboard.board.items() %}
            <td class= {{category}}> {{ranking[1][0]}}   {{ranking[1][1]}} </td>
            {% endfor %}
          </tr>
          <tr class="third">
            {% for category, ranking in leaderboard.board.items() %}
            <td class= {{category}}> {{ranking[2][0]}}  {{ranking[2][1]}} </td>
            {% endfor %}
          </tr>
          {% for i in range(3, length)%}
          <tr class="forloop">
            {% for category, ranking in leaderboard.board.items() %}
              <td class= {{category}}> {{ranking[i][0]}}  {{ranking[i][1]}} </td>
              {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>


      <footer class="mt-auto text-white-50">
        <p>DC2060</p>
      </footer>
    </div>
  </body>
</html>
