<!DOCTYPE html>
<html lang="en">
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="">
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
                crossorigin="anonymous">

        <header>
                <div style="box-sizing: border-box; position: fixed; top: 0px;
                        min-height: 50px;">
                        <div>
                                <h1>Are you Dumb </h1>
                        </div>
                        <div>
                                <a href="{{url_for('logout')}}"><button
                                                type="button" class="btn
                                                btn-primary">logout</button></a>
                        </div>

                </div>
        </header>
        <body>


                <nav>
                        <a href="{{url_for('stats')}}"><button
                                        type="button" class="btn btn-primary">Stats</button></a>
                        <a href="{{url_for('leaderboard')}}"><button
                                        type="button" class="btn btn-primary">Leaderboard</button></a>
                </nav>

                <h1>Category</h1>
                <div class="container">
                        <div>
                                <a href="{{url_for('askQuestion', category=
                                        'Geography')}}"><button
                                                type="button" class="btn
                                                btn-primary">Geography</button></a>
                                <a href="{{url_for('askQuestion', category=
                                        'Entertainment')}}"><button
                                                type="button" class="btn
                                                btn-primary">Entertainment</button></a>
                                <a href="{{url_for('askQuestion', category=
                                        'History')}}"><button
                                                type="button" class="btn
                                                btn-primary">History</button></a>
                        </div>
                        <div>
                                <a href="{{url_for('askQuestion', category=
                                        'Arts &
                                        Literature')}}"><button
                                                type="button" class="btn
                                                btn-primary">Arts
                                                & Literature</button></a>
                                <a href="{{url_for('askQuestion', category=
                                        'Science')}}"><button
                                                type="button" class="btn
                                                btn-primary">Science</button></a>
                                <a href="{{url_for('askQuestion', category=
                                        'Sports')}}"><button
                                                type="button" class="btn
                                                btn-primary">Sports</button></a>
                        </div>


                </div>

        </body>
</html>
