<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Home</title>


        <link href="{{url_for('static',filename='assets/dist/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{url_for('static', filename= 'app.css')}}" rel="stylesheet">
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">Are you Dumb</h3>
                    <nav class="nav nav-masthead justify-content-center
                        float-md-end">
                        <h1>{{question.category}}</h1>
                    </nav>

                </div>
            </header>

            <main class="px-3">
                <div>
                    <h1 class="time" id="timerMs">0</h1>
                    
                    
                    
                </div>
                
                <p class="lead">
                    <div>
                        <h1>{{ question.text }}</h1>
                        <div class="container">
                            <form action="/question/{{question.category}}" method="post">
                            {% for answer in question.options %}
                                <input class = "btn-question"  type="submit" id="{{ answer }}" name="answer" value="{{ answer }}"><br>
                                {% endfor %}
                                <input type="hidden" id = "timerForm"  name="timerForm"  >
                            </form>
                        </div>
                    </div>
                </p>
            </main>

            <footer class="mt-auto text-white-50">
                <p>DC2060</p>
            </footer>

            <script type="application/javascript">
              const timerMs = document.getElementById("timerMs");
              var timerCounter = 0.0
              const timerForm = document.getElementById("timerForm");
              const interval = setInterval(() => {
                  timerCounter = timerCounter + 1;
                  timerMs.innerText = parseFloat(timerCounter/10).toFixed(1) + "s";
                  timerForm.value = parseFloat(timerCounter/10).toFixed(1)           
              }, 100);
          </script>

        </div>



    </body>
</html>
