<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <title>question</title>
 
    <body>
            <div>
                <h2 class="time" id="timer">0</h2>
                
                <script type="application/javascript">
                    const timerElement = document.getElementById("timer");
                    var timerCounter = 0
                    const interval = setInterval(() => {
                        timerCounter = timerCounter + 1;
                        
                        timerElement.innerText = timerCounter + "ms";
                    }, 100);
                </script>
                
            </div>
        
        <h1>{{question.category}}</h1>
        <h1>What's 1+1</h1>
        <div class="container">
            <form action="/question/{{question.category}}" method="post">
            {% for answer in question.options %}
                <input type="submit" id="{{ answer }}" name="answer" value="{{ answer }}"><br>
                {% endfor %}
            </form>
        </div>

    </body>
</html>